  .dark-bg {
      background-color: #141521;
  }

 .graphite-col {
            color: #373d4d;
            /* #373d4d graphite color */
        }

    .default {
        background-color: #FEFEFF;
    }

    .pink {
        color: #F02C64;
    }